<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>playFootBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7317E0AB1D9E7F3C007A3031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7317E0BF1D9E7F3D007A3031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7317E0CA1D9E7F3D007A3031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
